@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-100: #ffffff; 
  --primary-200: #000000;
  --primary-300: #28A9E0;
  --primary-400: #68F9BE;
  --primary-500: #121212;
  --primary-600: #28A9E0;
  --primary-700: #ffffff;
  --primary-800: #1A202C;
}

[data-theme='dark'] {
  --primary-100: #1A202C;
  --primary-200: #ffffff;
  --primary-300: #28A9E0;
  --primary-400: #68F9BE;
  --primary-500: #121212;
  --primary-600: #1b5e7a;
  --primary-700: #ffffff;
  --primary-800: #1A202C;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: var(--primary-100);
  color: var(--primary-200);
  transition: all .5s;
}

a {
  text-decoration: none;
  color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

h1,h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, span, li {
  font-family: 'Poppins', sans-serif;
}

ul li {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.toast-message {
  height: 3rem;
}
